<html>
  <head>
    <title>topot</title>
  </head>
  <body>
    <p>The time is :  {{ . }}</p>
    <footer>
      <p><a href="mailto:rakshit.s.gowda@gmail.com">rakshith's email</a></p>
    </footer>
  </body>
</html>
