<html>
  <head>
      <title>topot</title>
  </head>
  <body>
      <p>The length of the rectangle is {{.}}</p>
      <p>The width of the rectangle is {{.}}</p>
      <p>The Area of the rectangle is {{.}}</p>
      <p>Source code for this page:
          <a mimetype="text/plain" href="../static/formula/area.txt">area.txt</a>
      </p>

  <footer>
    <p>Source code for this page:
      <a href="mailto:rakshit.s.gowda@gmail.com">Rakshith's EMAIL</a>
    </p>
  </footer>
  </body>
</html>